/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: .9rem;
  margin: 15px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.353);
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: .9rem;
  font-weight: 500;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  font-size: .9rem;
  font-weight: 500;
  margin-left: 19px;
  display: block;
  color: green;
  margin-top: 5px;

}

.story-user {
  margin-left: 19px;
  font-weight: 500;
  font-size: .9rem;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
  color: orange;
}

.star:hover{
  cursor: pointer;
}

.fa-trash-can:hover{
  cursor: pointer;
  color: red;
}